In [23]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
result = df.loc[1, ['A', 'C']]
print(result)

A    2
C    8
Name: 1, dtype: int64

In [24]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
result = df.iloc[0:2, 1:3]
print(result)

   B  C
0  4  7
1  5  8

In [25]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = pd.concat([df1, df2], ignore_index=True)
print(result)

   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [26]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B'],
    'Value': [10, 20, 30, 40]
})
result = df.groupby('Category').sum()
print(result)

          Value
Category
A            40
B            60

In [27]:
import pandas as pd
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'two'],
    'C': [1, 2, 3, 4]
})
result = df.pivot(index='A', columns='B', values='C')
print(result)

B    one  two
A
bar    2    4
foo    1    3

In [28]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}, index=['a', 'b', 'c'])
result = df.loc[['a', 'c'], 'B']
print(result)

a    4
c    6
Name: B, dtype: int64

In [29]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
result = df.loc[1:2, 'A':'B'].iloc[1]
print(result)

A    3
B    6
Name: 2, dtype: int64

In [30]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2]}, index=['a', 'b'])
df2 = pd.DataFrame({'A': [3, 4]}, index=['b', 'c'])
result = pd.concat([df1, df2], axis=1)
print(result)

     A    A
a  1.0  NaN
b  2.0  3.0
c  NaN  4.0

In [31]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'Value1': [1, 2, 3, 4],
    'Value2': [5, 6, 7, 8]
})
result = df.groupby('Category').agg({'Value1': 'sum', 'Value2': 'mean'})
print(result)

          Value1  Value2
Category
A              3     5.5
B              7     7.5

In [32]:
import pandas as pd
df = pd.DataFrame({
    'A': ['foo', 'bar', 'foo', 'bar'],
    'B': ['one', 'one', 'two', 'two'],
    'C': [1, 2, 3, 4],
    'D': [5, 6, 7, 8]
})
result = df.pivot_table(index='A', columns='B', values=['C', 'D'], aggfunc='sum')
print(result)

      C       D
B   one two one two
A
bar   2   4   6   8
foo   1   3   5   7

In [33]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})
result = df.iloc[::2, 1]
print(result)

0    5
2    7
Name: B, dtype: int64

In [34]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})
result = df.iloc[[0, 2], [False, True, True]]
print(result)

   B   C
0  5   9
2  7  11

In [35]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'C': [7, 8]})
result = pd.concat([df1, df2], axis=0)
print(result)

   A    B    C
0  1  3.0  NaN
1  2  4.0  NaN
0  5  NaN  7.0
1  6  NaN  8.0

In [36]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
result = pd.concat([df1, df2], keys=['df1', 'df2'])
print(result)

       A  B
df1 0  1  3
    1  2  4
df2 0  5  7
    1  6  8

In [37]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'Value1': [1, 2, 3, 4],
    'Value2': [5, 6, 7, 8]
})
result = df.groupby('Category').agg({'Value1': ['sum', 'mean'], 'Value2': 'max'})
print(result)

         Value1      Value2
            sum mean    max
Category
A             3  1.5      6
B             7  3.5      8

In [38]:
import pandas as pd
df = pd.DataFrame({
    'Category1': ['A', 'A', 'B', 'B'],
    'Category2': ['X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4]
})
result = df.groupby(['Category1', 'Category2']).sum()
print(result)

                     Value
Category1 Category2
A         X              1
          Y              2
B         X              3
          Y              4

In [39]:
import pandas as pd
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'two', 'one', 'two'],
    'C': ['small', 'large', 'small', 'large'],
    'D': [1, 2, 3, 4]
})
result = df.pivot(index='A', columns=['B', 'C'], values='D')
print(result)

B     one   two
C   small large
A
bar     3     4
foo     1     2

In [40]:
import pandas as pd
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'two', 'one', 'three'],
    'C': [1, 2, 3, 4]
})
result = df.pivot(index='A', columns='B', values='C')
print(result)

B    one  three  two
A
bar  3.0    4.0  NaN
foo  1.0    NaN  2.0

In [41]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'SubCategory': ['X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4]
})
grouped = df.groupby(['Category', 'SubCategory']).sum()
result = grouped.reset_index().pivot(index='Category', columns='SubCategory', values='Value')
print(result)

SubCategory  X  Y
Category
A            1  2
B            3  4

In [42]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'SubCategory': ['X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4]
})
grouped = df.groupby(['Category', 'SubCategory']).sum()
result = grouped.reset_index().pivot(index='Category', columns='SubCategory', values='Value')
print(result)

SubCategory  X  Y
Category
A            1  2
B            3  4

In [45]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}, index=['x', 'y', 'z'])
result = df.loc['y']
print(result)

A    2
B    5
C    8
Name: y, dtype: int64

In [46]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
result = df.iloc[-1]
print(result)

A    3
B    6
C    9
Name: 2, dtype: int64

In [47]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
result = df.loc[df['A'] > 1]
print(result)

   A  B  C
1  2  5  8
2  3  6  9

In [48]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2]}, index=['x', 'y'])
df2 = pd.DataFrame({'A': [3, 4]}, index=['y', 'z'])
result = pd.concat([df1, df2])
print(result)

   A
x  1
y  2
y  3
z  4

In [49]:
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2]}, index=['a', 'b'])
df2 = pd.DataFrame({'B': [3, 4]}, index=['a', 'b'])
result = pd.concat([df1, df2], axis=1, ignore_index=True)
print(result)

   0  1
a  1  3
b  2  4

In [50]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'Value': [1, 2, 3, 4]
})
result = df.groupby('Category').apply(lambda x: x.sum())
print(result)

         Category  Value
Category
A              AA      3
B              BB      7

In [51]:
import pandas as pd
df = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B'],
    'SubCategory': ['X', 'Y', 'X', 'Y'],
    'Value': [1, 2, 3, 4]
})
result = df.groupby(['Category', 'SubCategory']).agg({'Value': ['sum', 'count']})
print(result)

                     Value
                       sum count
Category SubCategory
A        X               1     1
         Y               2     1
B        X               3     1
         Y               4     1

In [53]:
import pandas as pd
df = pd.DataFrame({
    'A': ['foo', 'foo', 'bar', 'bar'],
    'B': ['one', 'one', 'two', 'two'],
    'C': [1, 2, 3, 4],
    'D': [5, 6, 7, 8]
})
result = df.pivot_table(index='A', columns='B', values='C', aggfunc='max')
print(result)

B    one  two
A
bar  NaN  4.0
foo  2.0  NaN

In [54]:
import pandas as pd
df1 = pd.DataFrame({
    'Category': ['A', 'B'],
    'Value': [1, 2]
})
df2 = pd.DataFrame({
    'Category': ['A', 'B'],
    'Value': [3, 4]
})
df = pd.concat([df1, df2])
grouped = df.groupby('Category').sum()
result = grouped.reset_index().pivot(index='Category', columns='Value', values='Value')
print(result)

Value       4    6
Category
A         4.0  NaN
B         NaN  6.0